body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: rgb(63, 63, 63);
    border: 10px solid gray;
    border-radius: 5px;
    padding: 5px;
    width: 400px;
}

.display {
    background-color: lightgray;
    padding: 5px;
    margin-bottom: 10px;
}